doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        title= pageTitle
        link(rel='stylesheet', href='css/main.css')

        // Default Blocks
        script(src='blockly/blockly_compressed.js')
        script(src='blockly/blocks_compressed.js')
        //- script(src='blockly/javascript_compressed.js')
        script(src='blockly/msg/js/en.js')

        // Custom Blocks
        script(src='blockly/customs/blocks-string.js')
        script(src='blockly/customs/generators-string.js')  
    body
        // Blockly Area
        table
            tbody
                tr
                    td#blocklyArea
        #blocklyDiv(style='position: absolute')

        // Toolbox
        xml#toolbox(style='display: none')
            category(name='Demo', colour='210')
                block(type='controls_if')
                block(type='controls_repeat_ext')
                block(type='logic_compare')
                block(type='math_number')
                block(type='math_arithmetic')
                block(type='text')
                block(type='text_print')
            category(name='Logic')
                block(type='logic_boolean')
                block(type='logic_compare')
                block(type='logic_operation')
                block(type='logic_negate')
                block(type='logic_null')
                block(type='logic_ternary')
            category(name='Math')
                block(type='math_number')
                block(type='math_arithmetic')
                block(type='math_single')
                block(type='math_trig')
                block(type='math_constant')
                block(type='math_number_property')
                block(type='math_change')
                block(type='math_round')
                block(type='math_on_list')
                block(type='math_modulo')
                block(type='math_constrain')
                block(type='math_random_int')
                block(type='math_random_float')
                block(type='math_atan2')
            category(name='Text')
                block(type='text')
                block(type='text_print')
                block(type='text_multiline')
                block(type='text_join')
                block(type='text_create_join_container')
                block(type='text_create_join_item')
                block(type='text_append')
                block(type='text_length')
                block(type='text_isEmpty')
                block(type='text_indexOf')
                block(type='text_charAt')
            category(name='Lists')
                block(type='lists_create_empty')
                block(type='lists_repeat')
                block(type='lists_reverse')
                block(type='lists_isEmpty')
                block(type='lists_length')
            category(name='Colour')
                block(type='colour_picker')
                block(type='colour_random')
                block(type='colour_rgb')
                block(type='colour_blend')
            category(name='Variables')
                block(type='variables_get')
                block(type='variables_set')
                block(type='variables_get_dynamic')
                block(type='variables_set_dynamic')
            category(name='Custom')
                block(type='string_hello_world')

        script(src='blockly/init.js')