doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        title= pageTitle

        // Default Blocks
        script(src='blockly/blockly_compressed.js')
        script(src='blockly/blocks_compressed.js')
        //- script(src='blockly/javascript_compressed.js')
        script(src='blockly/msg/js/en.js')

        // Custom Blocks
        script(src='blockly/customs/blocks-string.js')
        script(src='blockly/customs/generators-string.js')
    body
        // Area
        div#blocklyDiv(style='height: 480px; width: 600px;')

        // Toolbox
        xml#toolbox(style='display: none')
            category(name='Demo')
                block(type='controls_if')
                block(type='controls_repeat_ext')
                block(type='logic_compare')
                block(type='math_number')
                block(type='math_arithmetic')
                block(type='text')
                block(type='text_print')
            category(name='Logic')
                block(type='logic_boolean')
                block(type='logic_compare')
                block(type='logic_operation')
                block(type='logic_negate')
                block(type='logic_null')
                block(type='logic_ternary')
            category(name='Math')
                block(type='math_number')
                block(type='math_arithmetic')
                block(type='math_single')
                block(type='math_trig')
                block(type='math_constant')
                block(type='math_number_property')
                block(type='math_change')
                block(type='math_round')
                block(type='math_on_list')
                block(type='math_modulo')
                block(type='math_constrain')
                block(type='math_random_int')
                block(type='math_random_float')
                block(type='math_atan2')
            category(name='Custom')
                block(type='string_hello_world')

        script(src='blockly/init.js')